<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="row">
            <!-- <div class="card "> -->
            <div class="col-sm-2 col-md-3" >
                <img src="..\assets\img\Avatar1.jpg" alt="Hamza" style="width:100%; height:63%;">
                <h1 style="text-align: center;">Hamza Al-Omary</h1>
                <p class="title" style="text-align: center;">Developer</p>
                     
                <div style="margin: 24px 0; text-align: center;">
                    <h4>Email: hamza3mary@gmail.com</h4>
                    <hr style="color: blue;">
                    <h4>Phone: 0785650189</h4>
                    <hr style="color: blue;">
                 
                        <a href="#"><i class="fa fa-dribbble"style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-twitter" style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-linkedin"style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-facebook"style="margin-right: 10px;"></i></a>
                    </div>
     
            </div>
            
            <div class="col-md-3">

                <img src="..\assets\img\Qussai.jpg" alt="Qussi" style="width:100%">
                <h1 style="text-align: center;">Qussi Al-Dogham</h1>
                <p class="title" style="text-align: center;">Developer</p>
                <div style="margin: 24px 0; text-align: center;">
                    <h4>Email: qussai.doghaem@gmail.com</h4>
                    <hr style="color: blue;">
                    <h4>Phone: 0772245841</h4>
                    <hr style="color: blue;">

                        <a href="#"><i class="fa fa-dribbble"style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-twitter" style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-linkedin"style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-facebook"style="margin-right: 10px;"></i></a>
                    </div>
              
            
            </div>
            <div class="col-md-3"  >


                <img src="..\assets\img\Avatar1.jpg" alt="Thraya" style="width:100%">
                <h1 style="text-align: center;">Thraya Bani-Yaseen</h1>
                <p class="title" style="text-align: center;">Developer</p>
                    
                <div style="margin: 24px 0; text-align: center;">
                <h4>Email: thriasaleh95@gmail.com</h4>
                <hr style="color: blue;">
                <h4>Phone: 0789802342</h4>
                <hr style="color: blue;">
             
                    <a href="#"><i class="fa fa-dribbble"style="margin-right: 10px;"></i></a>
                    <a href="#"><i class="fa fa-twitter" style="margin-right: 10px;"></i></a>
                    <a href="#"><i class="fa fa-linkedin"style="margin-right: 10px;"></i></a>
                    <a href="#"><i class="fa fa-facebook"style="margin-right: 10px;"></i></a>
                </div>
              
               
        </div>
            <div class="col-md-3">

                <img src="..\assets\img\Taimaa.jpg" alt="Taimaa" style="width:100%">
                <h1 style="text-align: center;">Taimaa Al-Hamarneh</h1>
                <p class="title" style="text-align: center;">Developer</p>
                       
                <div style="margin: 24px 0; text-align: center;">
                    <h4>Email: taimaahamarneh1@gmail.com</h4>
                    <hr style="color: blue;">
                    <h4>Phone: 0776722367</h4>
                    <hr style="color: blue;">
                 
                        <a href="#"><i class="fa fa-dribbble"style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-twitter" style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-linkedin"style="margin-right: 10px;"></i></a>
                        <a href="#"><i class="fa fa-facebook"style="margin-right: 10px;"></i></a>
                    </div>
               
            </div>
         </div>
        </div>
<hr style="height: 12px; color: rgb(68, 71, 247);">