 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: 5px;
    text-align: center;
    
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .blue-button a {
    display: inline-block;
    background-color: #4883ff;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10
px
 16
px
;
    text-decoration: none;
    border: 2
px
 solid #4883ff;
    transition: all 0.5s;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}