<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 -->


  
  <div class="card ">
      
    <img src="..\assets\img\Avatar1.jpg" alt="John" style="width:100%">
    <h1>{{name}}</h1>
    <p class="title">{{subText}}</p>
    <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"style="margin-right: 10px;"></i></a>
        <a href="#"><i class="fa fa-twitter" style="margin-right: 10px;"></i></a>
        <a href="#"><i class="fa fa-linkedin"style="margin-right: 10px;"></i></a>
        <a href="#"><i class="fa fa-facebook"style="margin-right: 10px;"></i></a>
    </div>
    <div class="blue-button">
        <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=1209600&osid=1&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" id="form-submit" class="btn">Contact</a>
    </div> 
</div> 

<!-- 
*ngFor="let item of data" -->