<div id="booking" class="section">
    <img src="..\assets\img\kia2.jpg" style="width:100%;height: 100%; position:absolute;">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">

                    <form>
                        <div class="form-group">
                            
                            <input class="form-control" type="text" matInput [formControl]="authService.usernameControl" placeholder="Username">
                            <!-- <mat-error style="color: rgb(255, 6, 6); font-size: 14px;" *ngIf="authService.usernameControl.hasError('required')"> Username is <strong>required</strong></mat-error> -->
                            
                        </div>
                            <div class="form-group">
                        
                            
                            <input class="form-control" type="password" matInput [formControl]="authService.passwordControl" placeholder="Password">
                            <!-- <mat-error style="color: rgb(255, 6, 6); font-size: 14px;" *ngIf="authService.passwordControl.hasError('required')"> password is <strong>required</strong></mat-error> -->
                            <mat-error style="color: rgb(255, 6, 6); font-size: 14px;" *ngIf="authService.passwordControl.hasError('minlength')">Password must be more than 10 char</mat-error>
                        
                        
                            </div>

                           
                        <!-- <label style="color:white; font-size: 15px;"><input style="width: 30px;"  type="checkbox" (click)="Remember()"  >Remember Me</label>
                         -->
                         <!-- <div class="form-group">
                            
                            <input type="password" [formControl]="authService.confirmPassword" placeholder="Confirm Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                              <div *ngIf="f.confirmPassword.errors.mustMatch">Password and confirm not match</div>
                            </div>
                          </div>
                        <br> -->
                        <input class="form-control" type="password" (change)="onchang()" matInput [formControl]="authService.confirmPassword"  placeholder="Confirm Password">
                        <!-- <mat-error style="color: rgb(255, 6, 6); font-size: 14px;" *ngIf="authService.confirmPassword.hasError('required')"> Confirm password is <strong>required</strong></mat-error> -->
                        <mat-error *ngIf="authService.confirmPassword.hasError('mismatch')"> Password is not match </mat-error>
                        
                        <mat-error style="color: rgb(255, 6, 6); font-size: 14px;" *ngIf="authService.passwordControl.hasError('required')&&authService.usernameControl.hasError('required')&&authService.confirmPassword.hasError('required')">Password ,Confirm password and Username is required</mat-error>
                       
                       <mat-error *ngIf="authService.confirmPassword.hasError('minlength') && !authService.confirmPassword.hasError('required') && authService.confirmPassword.value != authService.passwordControl.value">password and confirm password does not   <strong>match</strong></mat-error>
                        <div class="form-btn">
                            <button id="submitForm" type="submit" class="submit-btn" [disabled]="!authService.usernameControl.valid||!authService.passwordControl.valid ||!authService.confirmPassword.valid " (click)="authService.submit()">Login</button>
                        </div>

                        <br><br>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-btn">
                                    <button id="submitForm" type="submit" class="submit-btn" routerLink="/security/register">Register</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-btn">
                                    <button id="submitForm" type="submit" class="submit-btn " routerLink="">Home</button>
                                </div>
                            </div>
                        </div>

                    </form>
                
            </div>
        </div>
    </div>
</div>