.edit {
    margin-left: 25rem;
}

body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
    font-size: 15px;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account-settings .about p {
    font-size: 0.825rem;
}

.form-control1 {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
    font-size: 15px;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
    font-size: 15px;
}

.colorbtn {
    background-color: #383030;
    color: gainsboro;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 15px;
}

.styled-table {
    border-collapse: collapse;
    /* margin: 0px 0; */
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #b34343;
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #72777a;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #1d629b;
}

.tableFixHead {
    overflow-y: visible;
    overflow-x: auto;
    height: 100%;
    width: 110rem;
}

.tableFixHead tbody th {
    position: absolute;
    top: 0;
}

table {
    border-collapse: collapse;
}

.edit {
    margin-left: 25rem;
}


/* .nav-link.active {
    margin-top: 10px;
    margin-left: 0%;
    padding-left: 5px;
} */

.img {
    padding: 5px;
    margin-left: 50px;
}

.colorbtn {
    background-color: #383030;
    color: gainsboro;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 15px;
}

.upleft {
    border-top-left-radius: 4px;
}

.upright {
    border-top-right-radius: 4px;
}


/* h5 {
    margin-bottom: 0%;
    border-radius: 2rem;
    background-color: #345B63;
} */

.card {
    margin-left: 20px;
    border-radius: 7px;
    /* color: ghostwhite; */
    border-color: rgba(0, 0, 0, 0.15);
    /* border-width: 3px; */
}

.card-header:first-child {
    margin-bottom: 0%;
    color: #ffffff;
    border-radius: 4px;
    background-color: #383030;
    font-size: 1.3em;
    padding: 10px;
}

td {
    padding: 15rem;
}