<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/styledashboard.css">
    <link href="/assets/css/stylelibs.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/chartist.css">
    <link rel="stylesheet" href="/assets/css/morris.css">
    <link rel="stylesheet" href="/assets/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/c3.css">
    <link rel="stylesheet" href="/assets/css/flag-icon.min.css">
    <!-- <link rel="stylesheet" href="/assets/css/style.css">  
     <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">  -->
    <title> Admin Dashboard </title>
</head>

<body>

    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-light fixed-top">
                <!-- <a class="navbar-brand" href="index.html">Concept</a> -->
                <div class="logo">
                    <img src="assets/img/MyVehicle -logos.jpeg" width="100" height="80" style="padding:7px;margin-left: 50px; border-radius: 15px;" alt="Venue Logo">
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" style="margin-left: 15px;margin-right: 15px;"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item dropdown nav-user" style="margin-bottom: 15px;margin-left: 15px;margin-right: 15px;">
                            <a class="nav-link nav-user-img"  id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/img/admin.jpg" alt="" class="user-avatar-md rounded-circle" (click)="showProfile()"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">



                    <!--                     
                    <a class="d-xl-none d-lg-none" (click)="Dashboard()">Dashboard</a> -->

                    <!-- <a class="d-xl-none d-lg-none" (click)="Dashboard()">Dashboard</a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                <a class="nav-link active" routerLink="/admin/admin"><i class="fa fa-dashboard"></i>my vehicle </a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" routerLink="/admin/admin"><i class="fa fa-fw fa-user-circle"></i>Dashboard </a>

                                <li class="nav-item">
                                    <a class="nav-link" (click)="createEmployee()"><i class="fa fa-user-plus" aria-hidden="true"></i>Create Employee</a>

                                    <li class="nav-item">

                                        <a class="nav-link" routerLink="/admin/chart"><i  class="fa fa-bar-chart"></i>Chart</a>

                                        <li class="nav-item ">
                                            <a class="nav-link" routerLink="/admin/report"><i class="fa fa-file-pdf-o"></i>Reports</a>

                                            <li class="nav-item">
                                                <a class="nav-link" routerLink="/admin/financial-report"><i class="fa fa-file-o" ></i>Financial Reports</a>

                                                <!-- <li class="nav-item">
                                                    <a class="nav-link" ><i class="fa fa-search" aria-hidden="true" ></i> 
                                                        <select>
                                                            
                                                            <option ><a class="nav-link" ><i class="fa fa-search" aria-hidden="true"></i>Search </a></option>
                                                            <option ><a class="nav-link" routerLink="/admin/report"><i  class="fa fa-file-pdf-o"></i>Search By Category Name</a>
                                                            </option>
                                                            <br>
                                                            <option ><a class="nav-link" routerLink="/admin/chart"><i  class="fa fa-bar-chart">Search 2</i></a>
                                                            </option>
                                                            </select>

                                                    </a> 
     -->
                                                <!-- <mat-form-field>
        <mat-select class="fa fa-search" aria-hidden="true" placeholder="Search" style="color:white;font-size: 10px;">
          
          <mat-option>
            <a class="nav-link" routerLink="/admin/search-by-vehicle-category"><i class="fa fa-search" aria-hidden="true" >Search By Vehicle Category</i></a>
          </mat-option>
          <mat-option>
            <a class="nav-link" routerLink="/admin/searching-for-vehicles-license-expiry"><i class="fa fa-search" aria-hidden="true"  >Search 2</i></a>
          </mat-option>
          <mat-option>
            <a class="nav-link" routerLink="/admin/total-month-salaries"><i  class="fa fa-search" aria-hidden="true">Total Salaries</i></a>
          </mat-option>
          <mat-option>
            <a class="nav-link" routerLink="/admin/total-payment"><i  class="fa fa-search" aria-hidden="true">Total Payment</i></a>
          </mat-option>
          
        </mat-select>
      </mat-form-field> -->
                                                <!-- <li class="nav-item">
                                                    <a class="nav-link" routerLink="/admin/get-attendance"><i class="fa fa-pencil-square-o" aria-hidden="true" ></i>Get All Attendance </a>


                                                    </a> -->


                                                <li class="nav-item">
                                                    <a class="nav-link" routerLink="/admin/get-attendance"><i class="fa fa-pencil-square-o" aria-hidden="true" ></i>Get All Attendance </a>

                                                    <li class="nav-item">

                                                        <a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true" (click)="logout()"></i>Logout</a>

                                                    </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Admin Dashboard Template </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="card-box bg-red">
                                    <div class="inner">
                                        <h3>{{homeService.number_Of_Users[0].number_Of_Users}} </h3>
                                        <p> number Of Users </p>
                                    </div>
                                    <div class="icon">
                                        <i class=" fa fa-user-circle-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card-box bg-green">
                                    <div class="inner">
                                        <h3>{{homeService.number_Of_Employees[0].number_Of_Employees}} </h3>
                                        <p>Number Of Employee</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card-box bg-orange">
                                    <div class="inner">
                                        <h3>{{homeService.card1[0].usersCount}} </h3>
                                        <p> Number Of All Users</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-sm-6">
                                <div class="card-box bg-red">
                                    <div class="inner">
                                        <h3>{{homeService.number_Of_Users[0].number_Of_Users}} </h3>
                                        <p> number Of Users </p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">All Users</h5>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">

                                        <th class="border-0">UserImage</th>
                                        <th class="border-0">FullName</th>
                                        <th class="border-0">Gender </th>
                                        <th class="border-0">Age</th>
                                        <th class="border-0">Email</th>
                                        <th class="border-0">PhoneNumber</th>
                                        <th class="border-0">Address</th>
                                        <th class="border-0">RoleName</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of homeService.users">
                                       
                                        <td>
                                            <div class="m-r-10"><img src="assets/img/admin.jpg"  class="rounded" width="45"></div>
                                        </td>
                                        <td>{{user.fullName}} </td>
                                        <td>{{user.gender}} </td>
                                        <td>{{user.age}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phoneNumber}}</td>
                                        <td>{{user.address}} </td>
                                        <td>{{user.roleName}} </td>
<!-- <td><button mat-button (click)="Delete()">Delete</button></td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">All vehicle</h5>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0">VehicleImage</th>
                                    <th class="border-0">VehicleId</th>
                                    <th class="border-0">VehicleName</th>
                                    <th class="border-0">VehicleModel </th>
                                    <th class="border-0">VehicleColor</th>
                                    <th class="border-0">VehicleCategory</th>
                                    <th class="border-0">UseType</th>
                                    <th class="border-0">RegisterType</th>
                                    <th class="border-0">LicenseNumber</th>
                                    <th class="border-0">LicenseExpiry</th>
                                    <th class="border-0">EngineCapacity</th>
                                    <th class="border-0">EngineType </th>
                                    <th class="border-0">MadeYear</th>
                                    <th class="border-0">LicensingCenter</th>
                                    <th class="border-0">ChassisNumber</th>
                                    <th class="border-0">EngineNumber</th>
                                    <th class="border-0">Address</th>
                                    
                                    <th class="border-0">UserId</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of homeService.vehicle">

                                    <td>
                                        <div class="m-r-10"><img src="assets/img/kia2.jpg"  class="rounded" width="100" height="50"></div>
                                    </td>
                                    <td>{{user.vehicleId}} </td>
                                    <td>{{user.vehicleName}} </td>
                                    <td>{{user.vehicleModel}} </td>
                                    <td>{{user.vehicleColor}}</td>
                                    <td>{{user.vehicleCategory}}</td>
                                    <td>{{user.useType}}</td>
                                    <td>{{user.registerType}} </td>
                                    <td>{{user.licenseNumber}} </td>
                                    <td>{{user.licenseExpiry}}</td>
                                    <td>{{user.engineCapacity}} </td>
                                    <td>{{user.engineType}} </td>
                                    <td>{{user.madeYear}} </td>
                                    <td>{{user.licensingCenter}}</td>
                                    <td>{{user.chassisNumber}} </td>
                                    <td>{{user.engineNumber}} </td>
                                    <td>{{user.address}} </td>
                                    
                                    <td>{{user.userId}} </td>


                                </tr>


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

        </div>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <p class="edit">Copyright © {{currentYear}} Template by: <a>{{Name}}</a></p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a (click)="GoToHome()">Home</a>
                            <a (click)="GoToAbout()">About</a>
                            <a (click)="GoToContact()">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</body>

</html>