.styled-table {
    border-collapse: collapse;
    /* margin: 0px 0; */
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #b34343;
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #72777a;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #1d629b;
}

.tableFixHead {
    overflow-y: visible;
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

.tableFixHead tbody th {
    position: absolute;
    top: 0;
}

table {
    border-collapse: collapse;
}

.edit {
    margin-left: 25rem;
}


/* .nav-link.active {
    margin-top: 10px;
    margin-left: 0%;
    padding-left: 5px;
} */

.img {
    padding: 5px;
    margin-left: 50px;
}

.colorbtn {
    background-color: #383030;
    color: gainsboro;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 15px;
}

.upleft {
    border-top-left-radius: 4px;
}

.upright {
    border-top-right-radius: 4px;
}


/* h5 {
    margin-bottom: 0%;
    border-radius: 2rem;
    background-color: #345B63;
} */

.card {
    margin-left: 20px;
    border-radius: 7px;
    /* color: ghostwhite; */
    border-color: rgba(0, 0, 0, 0.15);
    /* border-width: 3px; */
    width: 48.8%;
}

.card-header:first-child {
    margin-bottom: 0%;
    color: #ffffff;
    border-radius: 4px;
    background-color: #383030;
    font-size: 1.6em;
    padding: 10px;
}

td {
    padding: 15rem;
}

.footer {
    color: black;
}

p {
    color: black;
}