
<app-navbar></app-navbar>
<video autoplay muted loop style="width: 100%;">
    <source src="..\assets\video\promo1.mp4" type="video/mp4">
    
  </video>
<main>
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="left-content">
                        <br>
                        <h4>About us</h4>
                        <p>Aenean hendrerit metus leo, quis viverra purus condimentum nec. Pellentesque a sem semper, lobortis mauris non, varius urna. Quisque sodales purus eu tellus fringilla.<br><br>Mauris sit amet quam congue, pulvinar urna et, congue diam. Suspendisse eu lorem massa. Integer sit amet posuere tellus, id efficitur leo. In hac habitasse platea dictumst. Vel sequi odit similique repudiandae ipsum iste, quidem tenetur id impedit, eaque et, aliquam quod.</p>
                        <div class="blue-button">
                            <a routerLink="about">Discover More</a>
                        </div>

                        <br>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="..\assets\img\myvehicleplate.jpg" class="img-fluid" alt="" style="border-radius: 8px;">
                </div>
            </div>
        </div>
    </section>

    <section class="featured-places">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="thumb">
                            <h1 style="text-align: center;"><b>Cost of License </b></h1>
                          <hr>
                            <div >
                                 <table id="customers" >
                                          <tr>
                                            <th>Engine Capacity CC</th>
                                              <th>Engine Type</th>
                                             <th>Fees in JD</th>
                                            </tr>
                                        <tr>
                                            <td>Alfreds Futterkiste</td>
                                            <td>Maria Anders</td>
                                            <td>Germany</td>
                                        </tr>
                                        <tr>
                                            <td>Berglunds snabbköp</td>
                                            <td>Christina Berglund</td>
                                            <td>Sweden</td>
                                        </tr>
                                        <tr>
                                            <td>Centro comercial Moctezuma</td>
                                            <td>Francisco Chang</td>
                                            <td>Mexico</td>
                                        </tr>
                                        <tr>
                                            <td>Ernst Handel</td>
                                            <td>Roland Mendel</td>
                                            <td>Austria</td>
                                        </tr>
                                        <tr>
                                            <td>Island Trading</td>
                                            <td>Helen Bennett</td>
                                            <td>UK</td>  
                                        </tr>
                                        <tr>
                                            <td>Königlich Essen</td>
                                            <td>Philip Cramer</td>
                                            <td>Germany</td>
                                        </tr>
                                        <tr>
                                            <td>Laughing Bacchus Winecellars</td>
                                            <td>Yoshi Tannamuri</td>
                                            <td>Canada</td>
                                        </tr>
                                        <tr>
                                            <td>Magazzini Alimentari Riuniti</td>
                                            <td>Giovanni Rovelli</td>
                                            <td>Italy</td>
                                        </tr>
                                        <tr>
                                            <td>North/South</td>
                                            <td>Simon Crowther</td>
                                            <td>UK</td>
                                        </tr>
                                        <tr>
                                            <td>Paris spécialités</td>
                                            <td>Marie Bertrand</td>
                                            <td>France</td>
                                        </tr>
                                    </table>
                                <br>
                                <hr style="color: blue;">
                                <br>
                                <h1 style="text-align: center;"><b>Cost of Insurance</b></h1>
                                <hr>
                                <div >
                                     <table id="customers" >
                                              <tr>
                                                <th>Insurance  Type</th>
                                                  <th>Fees in JD</th>
                                                </tr>
                                            <tr>
                                                <td>Alfreds Futterkiste</td>
                                                <td>Maria Anders</td>
                                            </tr>
                                            <tr>
                                                <td>Berglunds snabbköp</td>
                                                <td>Christina Berglund</td>
                                            </tr>
                                            <tr>
                                                <td>Centro comercial Moctezuma</td>
                                                <td>Francisco Chang</td>
                                            </tr>
                                            <tr>
                                                <td>Ernst Handel</td>
                                                <td>Roland Mendel</td>
                                            </tr>
                                            <tr>
                                                <td>Island Trading</td>
                                                <td>Helen Bennett</td>
                                            </tr>
                                            <tr>
                                                <td>Königlich Essen</td>
                                                <td>Philip Cramer</td>
                                            </tr>
                                            <tr>
                                                <td>Laughing Bacchus Winecellars</td>
                                                <td>Yoshi Tannamuri</td>
                                            </tr>
                                            <tr>
                                                <td>Magazzini Alimentari Riuniti</td>
                                                <td>Giovanni Rovelli</td>
                                            </tr>
                                            <tr>
                                                <td>North/South</td>
                                                <td>Simon Crowther</td>
                                            </tr>
                                            <tr>
                                                <td>Paris spécialités</td>
                                                <td>Marie Bertrand</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                           </div>
                            </div>
                       

        </section>
    <section id="video-container" style="background-image: url(assets/img/contact-image-1-1920x700.jpg);">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
                  <div class="section-heading">
                      <span>Contact Us</span>
                      <h2>Contact with MyVehicle Team</h2>
                  </div>
                

                  <div class="blue-button">
                    <a routerLink="contactus" >Contact Us</a>
                  </div>
            </div>
        </div>
    </section>

</main>
<app-footer></app-footer>