

<app-navbar></app-navbar>

<section class="banner banner-secondary" id="top" style="background-image: url(assets/img/Contact-us.png);height:70%;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">

                </div>
            </div>
        </div>
    </div>
</section>

<main>

    <section class="popular-places">
        <div class="container">
            <div class="contact-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="left-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <input name="email" type="text" class="form-control" id="Email" placeholder="Email..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <input name="phone" type="text" class="form-control" id="Phone" placeholder="Phone..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="comment" rows="6" class="form-control" id="comment" placeholder="Your comment..." required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <div class="blue-button">
                                            <a href="#" id="form-submit" class="btn">Send Message</a>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="right-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content">

                                        <p>Etiam viverra nibh at lorem hendrerit porta non nec ligula. Donec hendrerit porttitor pretium.</p>

                                        <p>Contact and visit us ,we will be happy to see you and hear from you</p>

                                        <ul>
                                            <li><span>Phone:</span><a href="#">{{webPhone}}</a></li>
                                            <li><span>Email:</span><a href="#">{{webemail}}</a></li>
                                            <li><span>Address:</span><i class="fa fa-map-marker"></i> {{webAddress}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
                <span>Meet our team</span>
                <h2>Happy to talk to you</h2>
            </div>
        </div>
    </div>
    <!-- <app-contact-card ></app-contact-card> -->
    <div class=container>
        <div class="cards">
            <app-contact-card *ngFor="let card of data" [typeLang]="card.typeLang" [subText]="card.subText" [description]="card.description" style="margin-top:50px;"></app-contact-card>
        </div>
    </div>



            <div class="owl-carousel owl-theme">
                <div class="item popular-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="assets/img/team-image-1-646x680.jpg" alt="">
                        </div>
                        <div class="text-content">
                            <h4>John Doe</h4>
                            <span>CEO</span>
                        </div>
                        <div class="plus-button">
                            <a href="team.html"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item popular-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="assets/img/team-image-2-646x680.jpg" alt="">
                        </div>
                        <div class="text-content">
                            <h4>Jane Doe</h4>
                            <span>Marketing Manager</span>
                        </div>
                        <div class="plus-button">
                            <a href="team.html"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item popular-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="assets/img/team-image-3-646x680.jpg" alt="">
                        </div>
                        <div class="text-content">
                            <h4>Paula Jeorge</h4>
                            <span>Customer Service</span>
                        </div>
                        <div class="plus-button">
                            <a href="team.html"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item popular-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="assets/img/team-image-4-646x680.jpg" alt="">
                        </div>
                        <div class="text-content">
                            <h4>Dan Blatan</h4>
                            <span>Customer Service</span>
                        </div>
                        <div class="plus-button">
                            <a href="team.html"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        

</main>


<app-footer></app-footer>

